<ion-view view-title="Account">
  <ion-content>
      <div class="">
          <h1>{{acct.Name}}</h1>
      </div>
        <div class="button-bar">
            <a class="button">First</a>
            <a class="button">Second</a>
            <a class="button">Third</a>
        </div>
      
      <div class="card">
          <div class="item item-text-wrap">
              Account notes in a card format with a nice wrap. {{accountId}} 
              Donec dignissim orci odio, vitae feugiat metus mollis eu. In blandit nunc eget ante interdum efficitur. Donec euismod consectetur tempor. Donec tellus nulla, facilisis sed nunc at, dignissim vehicula velit. Nulla imperdiet, dolor sit amet congue semper, nibh orci efficitur elit, id efficitur quam urna sit amet quam. Nullam in maximus ligula. Suspendisse dictum arcu a arcu porttitor sodales. Sed tincidunt nulla massa, sed consequat sem maximus ut. Nulla facilisi. Donec iaculis lorem at purus finibus venenatis.
          </div>
      </div>
      <div class="">
          <button class="button button-block button-assertive" ng-click="deleteAccount();">
              Delete
          </button>
          <button class="button button-block button-outline button-assertive" ng-click="deleteAccount();">
              Delete
          </button>
      </div>
  </ion-content>
</ion-view>
