<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">{{modalTitle || "Create"}}</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeCrudModal()">Cancel</button>
        </div>
    </ion-header-bar>
    <ion-content ng-controller="AccountCrudCtrl">
        <form ng-submit="upsert()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="data.Name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="data.UserName">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" ng-model="data.Password">
                </label>
                <label class="item item-input">
                    <span class="input-label">URL</span>
                    <input type="text" ng-model="data.URL">
                </label>
                <label class="item item-input">
                    <span class="input-label">Notes</span>
                    <textarea rows="6" ng-model="data.Notes"></textarea>
                </label>
                <label class="item">
                    <button class="button button-block button-outline button-balanced" type="submit">{{saveTitle || "Create"}}</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>